@font-face {
    font-family: 'HancomMalangMalang-Regular';
    src: url('https://fastly.jsdelivr.net/gh/projectnoonnu/2406-1@1.0/HancomMalangMalang-Regular.woff2') format('woff2');
    font-weight: 400;
    font-style: normal;
}

.header-con {
    width: 100vw;

    background-image: Url(../img/main.jpg);
    background-size: cover;
    background-position: center;
    /* opacity: 0.4; */
}

.header {
    display: flex;
    flex-direction: column;
    width: 100vw;
    gap: 20px;

    z-index: 100;
    font-family: 'HancomMalangMalang-Regular';
}

.menu {
    display: flex;
    justify-content: space-between;
    padding: 12px 50px;


    font-weight: bold;
    /* border: 2px solid green; */
}

.title {
    font-size: 22px;
}

.menu-list {
    gap: 20px;
    font-size: 18px;
    color: white;
    /* border: 2px solid orange; */
}

.menu-list {
    display: flex;
}

.sub-title-con {
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 20px;


    /* border: 2px solid red; */
}

.sub-title {
    padding: 20px 0;
    font-size: 60px;
    /* border: 2px solid blue; */
}

.description {
    padding: 14px 0;

    /* border: 2px solid blue; */
}

.sub-title-btn {
    justify-content: center;
    margin: 0 auto 0;
    width: 130px;
    height: 50px;
    border-radius: 30px;
    background: rgb(255, 119, 0);
    color: white;

    /* border: 2px solid blue; */
}

.main {
    border: 2px solid lightblue;
}

.main-section {
    width: 100vw;
    height: 100px;
    /* border: 2px solid purple; */

}

#about-section {
    height: 100vh;
    border: 2px solid lightcoral;
}

.about-title {
    font-size: 40px;
    ;
}

.about-wrap {

    /* width: 64%; */
    /* margin: 30px auto 0; */

    /* text-align: center; */

    border: 2px solid green;

}

.about-detail {
    display: inline-block;
    /* flex-wrap: wrap; */


    border: 2px solid red;
}

.detail-wrap {


    border: 2px solid blue;
}


.detail {
    display: flex;
    flex-direction: column;

    border: 2px solid red;
}